/* 全局图片样式 */
img:not(.linkcard-img):not(.VPImage.image-src):not(.VPImage.logo):not(.titleAvatar):not(.h-8):not(.avatar-img):not(.badgeP>img) {
    width: 70%;
    height: auto;
    border-radius: 15px;
    /* 将图片设置为块状元素，防止与文本同行 */
    display: block;
    /* 水平居中 */
    margin-left: auto;
    margin-right: auto;
    /* 上下外边距 */
    margin-top: 10px;
    margin-bottom: 10px;
    /* 底部阴影 */
    box-shadow: 0 10px 30px 0 var(--custom-shadow);
}

/* 全局视频样式 */
video {
    width: 100%;
    border-radius: 15px;
    /* 将图片设置为块状元素，防止与文本同行 */
    display: block;
    /* 水平居中 */
    margin-left: auto;
    margin-right: auto;
    /* 底部阴影 */
    box-shadow: 0 10px 30px 0 var(--custom-shadow);
}

/* 首页图片 */
/* img.VPImage.image-src */

/* 导航栏-左上角图标 */
/* img.VPImage.logo */

/* 分类首页头像图标 */
img.titleAvatar {
    width: 40px;
    float: left;
    margin: -7px 0 0 0;
}

/* 贡献者头像图标 */
/* img.h-8 */

/* 关于我-创作者头像 */
img.avatar-img {
    margin-top: -2px;
    margin-left: 2px;
}