/* 全局图片样式 */
img {
    width: 70%;
    max-height: auto;
    border-radius: 15px;
    /* 将图片设置为块状元素，防止与文本同行 */
    display: block;
    /* 水平居中 */
    margin-left: auto;
    margin-right: auto;
    /* 上下外边距 */
    margin-top: 10px;
    margin-bottom: 10px;
    /* 底部阴影 */
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 40%);
}

video {
    width: 100%;
    border-radius: 15px;
    /* 将图片设置为块状元素，防止与文本同行 */
    display: block;
    /* 水平居中 */
    margin-left: auto;
    margin-right: auto;
    /* 底部阴影 */
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 40%);
}

/* 首页图片 */
img.VPImage.image-src{
    box-shadow: 0 0px 0px white;
    margin: 0px;
    width: auto;
}

img.VPImage.logo{
    box-shadow: 0 0px 0px white;
    margin: 0;
    width: auto;
}

/* 分类首页头像图标 */
img.titleAvatar{
    box-shadow: 0 0px 0px white;
    width: 40px;
    float: left;
    margin:-7px 0 0 0;
}

/* 贡献者头像图标 */
img.h-8{
    box-shadow: 0 0px 0px white;
    margin:-2px -9px 0 0;
}

.badgeP>img{
    all: unset;
}

img.VPPluginSearch-flex-logo{
    width: 80px;
    margin-left: calc(100% - 90px);
    padding-bottom: 10px;
    border-radius: 0%;
    box-shadow: 0 0px 0px white;
}
