/* 全局图片样式 */
img {
    width: 70%;
    max-height: auto;
    border-radius: 20px;
    /* 将图片设置为块状元素，防止与文本同行 */
    display: block;
    /* 水平居中 */
    margin-left: auto;
    margin-right: auto;
    /* 上下外边距 */
    margin-top: 10px;
    margin-bottom: 10px;
    /* 底部阴影 */
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
}

/* 首页图片 */
img.VPImage{
    box-shadow: 0 0px 0px white;
    margin-left: 20px;
    width: auto;
}

/* 分类首页头像图标 */
img.titleAvatar{
    box-shadow: 0 0px 0px white;
    width: 40px;
    float: left;
    margin:-7px 0 0 0;
}

/* 贡献者头像图标 */
img.h-8{
    box-shadow: 0 0px 0px white;
    margin:-2px -9px 0 0;
}

.badgeP>img{
    all: unset;
}