ul {
    padding: 0;
}

.post-item {
    display: flex;
    justify-content: space-between;
    width: 120%;
    margin: 10px 0;
    /* 可根据需要调整间距 */
}

.post-item a {
    text-align: left;
    /* 确保标题在左边 */
}

.post-date {
    text-align: right;
    /* 确保日期时间在右边 */
    color: gray;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}
