
/* var.css */
:root {
  --vp-c-brand-1: #e68c00;  /* 深金色 */
  --vp-c-brand-2: #ff9e00;  /* 暗橙黄色 */
  --vp-c-brand-3: #e0b424;  /* 暗淡黄色 */
}

.dark {
  --vp-c-brand-1: #f7a800;  /* 主色 - 深黄色，偏金色 */
  --vp-c-brand-2: #ffb300;  /* 次色 - 橙黄色 */
  --vp-c-brand-3: #f9d423;  /* 辅助色 - 淡黄色 */
}

/* 也可自行单独修改brand按钮 */
:root {
  --vp-button-brand-text: #F6CEEC;
  --vp-button-brand-bg: #D939CD;

  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #fe64f1;
}

/* 图片缩放样式 */
.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image {
  z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
}


/* 滚动条样式 */
/* 设置滚动条的宽度和高度 */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* 轨道 */
::-webkit-scrollbar-track {
  background-color: transparent; 
  border-radius: 10px; 
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 30%); 
  border-radius: 10px; /* 滑块圆角 */
  border: 2px solid rgb(0 0 0 / 10%);
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(255 255 255 / 30%);
  border: 2px solid rgb(255 255 255 / 10%);
}

 /* 滑块悬停时的颜色 */
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0, 0, 0, 0.575);
}

html.dark ::-webkit-scrollbar-thumb:hover{
  background-color: rgba(255, 255, 255, 0.575);
}

/* 侧边栏 二级标题 */
/* 目录台头 */
.VPSidebar .group>.VPSidebarItem>.item,
#doc-outline-aria-label {
  background: linear-gradient(104deg,
          rgba(255, 50, 152, 0) 0.9%,
          rgba(255, 50, 152, 1.25) 2.4%,
          rgba(255, 50, 152, 0.5) 5.8%,
          rgba(255, 50, 152, 0.1) 93%,
          rgba(255, 50, 152, 0.7) 96%,
          rgba(255, 50, 152, 0) 98%),
      linear-gradient(183deg,
          rgba(84, 3, 204, 0) 0%,
          rgba(225, 7, 229, 0.3) 7.9%,
          rgba(150, 3, 204, 0) 15%);
}
